@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - B Sound - Show Support</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="../fotos/logos/logomenuteste.svg" alt="..." height="45">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Produtos">Produtos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#">Usuario</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Usuario/Cadastro">Cadastro</a>
                            <a class="dropdown-item" href="/Usuario/Listagem">Listagem</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#">Orçamento</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Orcamento/Cadastro">Cadastro</a>
                            <a class="dropdown-item" href="/Orcamento/Listagem">Listagem</a>
                </ul>
            </div>
        </div>
    </nav>



    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    </div>

    <footer class="bg-dark text-light">
        <div class="rodape">

            <div>
                <ul class="icones">
                    <li><a href="https://www.facebook.com/B-Sound-Show-Support-1425842790863667" target="_blank"
                            class="individual"><i class="fab fa-facebook fa-3x "></i></a></li>
                    <li><a href="https://www.instagram.com/bsound_showsupport" target="_blank" class="individual"><i
                                class="fab fa-instagram fa-3x"></i></a></li>
                    <li><a href="#" class="individual"><i class="fab fa-whatsapp fa-3x"></i></a></li>
                </ul>
            </div>


        </div>
        <div class="text-center" style="background-color: #333; padding: 20px;">
            &copy 2022 Copyright: Bsound Show Support <a
                href="https://www.linkedin.com/in/bruno-eduardo-de-mello-alves-08ba24a9" target="_blank">Bruno Mello</a>
        </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
