@model Orcamento
@{
    ViewData["Title"] = "Cadastro Orçamento";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>B-Sound</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="..\css\style.css">
</head>

<body>

    <section class="parallax main_products container" id="Cadastrar">

        <h4>Peça seu orçamento</h4>

        <form method="POST" asp-action="Cadastrar" class="table">

            <div>
                <p id="form-group">
                    <label asp-for="qtdPessoas">Quantidade de Pessoas?</label>
                    <input type="text" asp-for="qtdPessoas" class="form-control" required />
                </p>
            </div>

            <div>
                <p>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="sub" />
                    <label class="form-check-label" for="sub">Acrecentar SubWoofer:</label>
                </div>
            </div>

            <div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="iluminacao" />
                    <label class="form-check-label" for="iluminacao">Acrecentar iluminação:</label>
                </div>
            </div>
            </p>
            <p id="form-group">
                <label asp-for="dataEvento">Informe a data de seu evento:</label>
                <input asp-for="dataEvento">
            </p>
            <div id="form-group">
                <label for="mensagem">Mensagem</label>
                <input input type="text" asp-for="mensagem" cols="30" rows="10" id="mensagem" class="form-control">
            </div>
            <p id="form-group">
                <input type="submit" value="Cadastrar">
            </p>
        </form>
    </section>
</body>