@model Orcamento
@{
    ViewData["Title"] = "Editar Orcamento";
}

<body>

    <form method="POST" asp-action="Editar">

        <input type="hidden" asp-for="idOrcamento">
        <div>
            <p id="form-group">
                <label asp-for="qtdPessoas">Quantidade de Pessoas?</label>
                <input asp-for="qtdPessoas">
            </p>

        </div>
        <div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="sub" />
                <label class="form-check-label" for="sub">Acrecentar SubWoofer:</label>
            </div>
        </div>

        <div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="iluminacao" />
                <label class="form-check-label" for="iluminacao">Acrecentar iluminação:</label>
            </div>
        </div>

        <p id="form-group">
            <label asp-for="dataEvento">Informe a data de seu evento:</label>
            <input asp-for="dataEvento">
        </p>
        <div>
            <label for="mensagem">Mensagem</label>
            <input input type="text" asp-for="mensagem" cols="30" rows="10" id="mensagem" class="form-control">
        </div>

        <p id="form-group">
            <input type="submit" value="Editar">
        </p>
    </form>
</body>