<section class="parallax main_products container" data-speed="15" id="Fotos">


    <div>

        <div class="fotos">
            <a target="_blank" href="./fotos/01.png">
                <img src="./fotos/01.png" alt="fotoMoradadosBais" width="300" height="200" />
                <a target="_blank" href="./fotos/02.png">
                    <img src="./fotos/02.png" alt="fotoMRevivaCampoGrande" width="300" height="200" />
                    <a target="_blank" href="./fotos/03.png">
                        <img src="./fotos/03.png" alt="Bionatus" width="300" height="200" />
                        <a target="_blank" href="./fotos/04.png">
                            <img src="./fotos/04.png" alt="UCDB" width="300" height="200" />
                            <a target="_blank" href="./fotos/07.png">
                                <img src="./fotos/07.png" alt="ADCG" width="300" height="200" />
                                <a target="_blank" href="./fotos/06.png">
                                    <img src="./fotos/06.png" alt="fotoADCG" width="300" height="200" /></a>

        </div>
    </div>
</section>
