/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


#logo{
  border-radius: 50%;
  border: 5px solid rgb(255, 174, 0);
  max-width: 12cm;
  display: block;
  margin-top: 3%;
  margin-left: 32%;
  margin-bottom: 2%;
}

 h4{
  text-align: center;
  margin-bottom: 5%;
  font-size: 20px;
  color: rgb(255, 174, 0);
  background-color: #505050;
}

h2{
  color: black;
} 

p{
  width: 175vh;
  color: LEMONCHIFFON;
  text-align: center;
}

.fotos {
  margin-top: 45px;
  margin-left: 7%;
  margin-bottom: 5%;
  float: left;
  width: 92%;
  
}

#form1{
  text-align: inherit;
}

.table{
  width: 100%;
  margin-bottom: 1rem;
  color: lemonchiffon;
}

.produtos {
  width: 1083px;
  /* margin-left: -3%; */
   
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 54px 1%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 50px;
      border: inset;
}
.produtos li:hover h2 {
  font-size: 34px;
} 

.produtos h2 {
  font-size:  30px;
  font-weight: bold;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
} 

 .produto-descricao {
  font-size: 18px;
}

.bg {
  position: inherit;
  background-image: url("./fotos/backgroudteste.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height:100%;
  width:100%;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.produtos li:active {
    border-color: #088c19;
}

form {
  margin: 40px 0;
  margin-left: 2%;
  
} */

 form label, form p {
  color: #fff;
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
} 

 .input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
} 

.checkbox {
  margin: 20px 0;
} 
/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  background-image: url("../fotos/fundo-de-grade-quadrada-diagonal-azul.jpg");
  
  margin-bottom: 60px;
}

#footeragenda{
  color: aliceblue;
  margin-left: 19%;
}

