
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white import !important;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom right, #000000, #008371 );
    background-repeat: repeat-x;
}

.nav-item{
    display: flex;
    justify-content: right;
}

header
{
    min-height:4em;
    margin: 20px;
    text-align: center;
    padding: 10px;
    color: white;
}

#imagem{
    border-radius: 40px 10px;

}

.geral{
    display: flex;
    justify-content: flex-start;

}
.slideshow-container{
    max-width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

.dot-container{
    text-align: center;
    position: relative;
    bottom: 20px ;
}

.dot{
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
    background-color:black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.mySlides{
    display:none;
} 

.numbertext{
    font-size: 12px;
    color:#f2f2f2;
    padding: 8px 12px;
    position:absolute;
    top: 0;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;   
    color: white;
    position:absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    padding: 8px 8px;
}

#texto{
    margin: 40px;
    color: white;
}

#textoProdutos{
    margin-top: 272px;
    margin-right: 10px;
    color: white;

}

.prev, .next{
    position:absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: block;
} 

.prev:hover, .next:hover{
    background-color: white;
    
}
.next{
    right: 0;
    border-radius:  3px 0 0 3px;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;

}

.active, .dot:hover{
    background-color: white;
}

@-webkit-keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade{
    from {opacity: .4}
    to { opacity: 1}
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-label{
    padding-right: 25px;
    margin-bottom: 20px;
  }

.form-check-input{
    margin-left: 170px;
  }

.centralizado{
    display: flex;
    justify-content: center;
}
#form-group{
    margin: 20px;;
}

.rodape{
    display: flex;
    justify-content:center;

}

.icones{
    display: flex;
    justify-content:center;
    margin-top: 13px;

}

li {
    list-style-type: none;
    
}

a{
    padding: 20px;
}
