
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white import !important;
}


main{
    padding-bottom: 2.5rem;
    
}

body {
    
    background-image: linear-gradient(to bottom right, #000000, #008371 );
    min-height: 100vh;
    background-repeat: no-repeat
    
}

h2{
    color:white;
    margin-top:20px;
    text-align: center;
}

header
{
    min-height:4em;
    margin: 20px;
    text-align: center;
    padding: 10px;
    color: white;
}

#imagem{
    border-radius: 40px 10px;

}

#imagemclientes{
    border-radius: 500px;

}

.geral{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.clientes{
    border-radius: 500px;
}

.slideshow-container{
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    
}

.dot-container{
    text-align: center;
    position: relative;
    bottom: 20px ;
}

.dot{
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
    background-color:black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.mySlides{
    display:none;
} 

.numbertext{
    font-size: 12px;
    color:#f2f2f2;
    padding: 8px 12px;
    position:absolute;
    top: 0;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;   
    color: white;
    position:absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    padding: 8px 8px;
}

#texto{
    margin: 40px;
    color: white;
}

#textoProdutos{
    margin-top: 272px;
    margin-right: 10px;
    color: white;
}

.text-center{
    color: white;
}   


.prev, .next{
    position:absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: block;
} 

.prev:hover, .next:hover{
    background-color: white;
    
}
.next{
    right: 0;
    border-radius:  3px 0 0 3px;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;

}

.active, .dot:hover{
    background-color: white;
}

@-webkit-keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade{
    from {opacity: .4}
    to { opacity: 1}
}


.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularios{
    margin: 30px;
    
    
}

.form-check-label{
    padding-right: 25px;
    margin-bottom: 20px;
    color: white;
  }

.form-check-input{
    margin-left: 170px;
  }

.centralizado{
    display: flex;
    justify-content: center;
    
}

.table{
    color: white;
    align-self: start;
}

.caixa{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius:  20px 100px 20px 100px ;
    color: rgb(110, 110, 110);
    margin: 20px;
}

.grande{
    height: 400px;
}

.option{
    margin: 20px;
}

.interno{
    align-self: center;

}
#form-group{
    margin: 20px;
    color: white;
    width: 350;
}

.rodape{
    display: flex;
    justify-content:center;
    
}

.icones{
    display: flex;
    justify-content:center;
    margin-top: 13px;
    background-color: rgb(71, 69, 69);

}

li {
    list-style-type: none;
    
} 

 ul{
    margin: 0;
}

a{
    padding: 20px;
}

#colorfonte{
    color: #f2f2f2;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

