@model Usuario
@{
    ViewData["Title"] = "Editar Orcamento";
}

<form method="POST" asp-action="Editar">

    <input type="hidden" asp-for="Id">
    <p id="form-group">
        <label asp-for="Nome">Informe seu nome:</label>
        <input type="text" asp-for="Nome" class="form-control" required />
    </p>
    <p id="form-group">
        <label asp-for="Telefone">Informe seu Telefone:</label>
        <input type="text" asp-for="Telefone" class="form-control" required />
    </p>
    <p id="form-group">
        <label asp-for="Email">Informe seu E-mail:</label>
        <input type="text" asp-for="Email" class="form-control" required />
    </p>
    <p id="form-group">
        <label asp-for="Login">Informe seu Login:</label>
        <input type="text" asp-for="Login" class="form-control" required />
    </p>
    <p id="form-group">
        <label asp-for="Senha">Informe sua Senha:</label>
        <input type="text" asp-for="Senha" class="form-control" required />
    </p>


    <p id="form-group">
        <input type="submit" value="Cadastrar">
    </p>

</form>